---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Btn from "../components/Btn.astro";
import BlogThumbnail from '../components/BlogThumbnail.astro';

// RSSからブログの一覧取得
import { fetchAndProcessRSS, fetchRSS } from "../libs/fetchAndProcessRSS";

const rssURLs = [
  "https://note.com/tsusu0409/rss",
  "https://omoshirokaiwai.com/rss.xml",
  "https://qiita.com/tsusu0409/feed",
  "https://zenn.dev/tsusu0409/feed",
  "local"
];

const posts = await fetchAndProcessRSS(rssURLs);
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/prof-icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tsusu</title>

		<!-- OGPタグ -->
		<meta property="og:title" content="Tsusu" />
		<meta property="og:description" content="Tsusuの個人サイト" />
		<meta property="og:image" content="https://tsusu0409.com/images/ogp.png" />
		<meta property="og:url" content="https://tsusu0409.com/" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Tsusu" />

		<!-- Twitterカード -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Tsusu" />
		<meta name="twitter:description" content="Tsusuの個人サイト" />
		<meta name="twitter:image" content="https://tsusu0409.com/images/ogp.png" />
		<meta name="twitter:url" content="https://tsusu0409.com/" />
		
        <!-- アドセンス -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8366184314757569"
        crossorigin="anonymous"></script>

	</head>
	<body>
		<div>
			<Header />

            <div class="mt-6 mb-12 w-full sm:w-4/5 px-4 sm:px-0 mx-auto">  
                <h1 class="text-2xl sm:text-3xl font-geo font-thin">Blogs</h1>
				<div class="px-2 sm:px-6 py-8 font-zen text-sm sm:text-base">
	                <p>このページには自身が書いた記事の一覧を表示します。</p>
					<p>tsusu0409.com, おもしろ界隈, noteなどに記事を掲載しています。</p>
				</div>
            </div>

			<div class="mt-6 mb-20">
				<div class="w-full sm:w-4/5 px-4 sm:px-0 mx-auto">
					<h2 class="text-xl sm:text-2xl font-geo font-thin">All Posts</h2>
					<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 px-0 sm:px-4">
						{posts.map((post:any) => (
							<BlogThumbnail 
								title={post.title}
								description={post.description}
								link={post.link}
								pubDate={post.pubDate}
								webSite={post.source}
								thumbLink={post.thumb}
							/>
						))}
					</div>
				</div>
			</div>
			
			<Footer />
		</div>
	</body>
</html>
