---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Btn from "../components/Btn.astro";
import BlogThumbnail from '../components/BlogThumbnail.astro';
import { ActivityDialog } from '../components/ActivityDialog';
import { Image } from 'astro:assets';

import { fetchAndProcessRSS } from "../lib/fetchAndProcessRSS";

import GymKusa from "@/components/GymKusa.astro";

// 画像のインポート
import profIcon from '../../public/images/prof-icon.png';
import musicIcon from '../../public/images/music.svg';
import tsukubaLove from '../../public/images/tsukuba-love2.png';
import noTime from '../../public/images/no-time.png';

// RSSからブログの一覧取得
const rssURLs = [
  "https://note.com/tsusu0409/rss",
  "https://omoshirokaiwai.com/rss.xml",
  "https://qiita.com/tsusu0409/feed",
  "https://zenn.dev/tsusu0409/feed",
  "local"
];

const posts = await fetchAndProcessRSS(rssURLs);

// アクティビティの一覧取得
const allActivities = await Astro.glob('../content/activity/*.md');
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/prof-icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tsusu</title>

		<!-- OGPタグ -->
		<meta property="og:title" content="Tsusu" />
		<meta property="og:description" content="Tsusuの個人サイト" />
		<meta property="og:image" content="https://tsusu0409.com/images/ogp.png" />
		<meta property="og:url" content="https://tsusu0409.com/" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Tsusu" />

		<!-- Twitterカード -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Tsusu" />
		<meta name="twitter:description" content="Tsusuの個人サイト" />
		<meta name="twitter:image" content="https://tsusu0409.com/images/ogp.png" />
		<meta name="twitter:url" content="https://tsusu0409.com/" />

		
        <!-- アドセンス -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8366184314757569"
        crossorigin="anonymous"></script>

	</head>
	<body>
		<div>
			<Header />

			<div class="py-20 bg-primary">
                <div class="w-full sm:w-4/5 px-4 sm:px-0 mx-auto relative flex flex-col sm:flex-row items-center sm:items-start gap-10 sm:gap-20">
                    <Image 
                        src={profIcon} 
                        alt="Tsusuのプロフィール画像"
                        width={160}
                        height={160}
                        class="h-30 w-30 sm:h-40 sm:w-40 rounded-2xl sm:rounded-4xl"
                        loading="eager"
                        format="webp"
                    />
                    <div class="pt-4 text-center sm:text-left">
                        <p class="text-xl sm:text-2xl font-geo font-thin">Tsusu / Tsubasa KAWAGISHI</p>
                        <p class="mt-6 text-sm sm:text-lg font-zen">
                            筑波大学に通う学生です。<br />
                            趣味でWebを触り始めています。AtCoder Beginner ContestやOnlineMathContestに時々参加しています。
                        </p>
                    </div>
                </div>
            </div>

			<div class="mt-6 mb-12">
				<div class="w-full sm:w-4/5 px-4 sm:px-0 mx-auto">
					<h2 class="text-xl sm:text-2xl font-geo font-thin">Recent Posts</h2>
					<div class="grid grid-cols-1 md:grid-cols-3 gap-2 px-4">
						{posts.slice(0, 3).map((post:any) => (
							<BlogThumbnail 
								title={post.title}
								description={post.description}
								link={post.link}
								pubDate={post.pubDate}
								webSite={post.source}
								thumbLink={post.thumb}
							/>
						))}
					</div>
				</div>
				<Btn name="Blogs" slug="blog"/>
			</div>

      <div class="my-20 pb-8">
        <div class="w-full sm:w-4/5 px-4 sm:px-0 mx-auto">
          <h2 class="text-xl sm:text-2xl font-geo font-thin">Gym Kusa</h2>
          <div class="mx-6">
            <GymKusa />
          </div>
        </div>
      </div>

			<div class="my-20 pb-8">
				<div class="w-full sm:w-4/5 px-4 sm:px-0 mx-auto">
					<h2 class="text-xl sm:text-2xl font-geo font-thin">Contents</h2>
					<div class="mx-2 sm:mx-6 mt-4">
					<a
						href="/playlist"
						class="block p-4 sm:p-6 text-neutral-800 transition-colors hover:bg-neutral-100"
					>
						<div class="flex items-center gap-4">
						<Image
                            src={musicIcon}
                            alt="Music Icon"
                            width={24}
                            height={24}
                            class="w-6 h-6"
                        />
						<div>
							<h3 class="text-lg sm:text-xl font-semibold">Favorite Songs</h3>
							<p class="text-sm text-neutral-600 mt-1">
							1ヶ月に1度、その月にお気に入りだった楽曲をまとめたプレイリストを公開しています。
							</p>
						</div>
						</div>
					</a>
					<a
						href="/GymKusa"
						class="block p-4 sm:p-6 text-neutral-800 transition-colors hover:bg-neutral-100"
					>
						<div class="flex items-center gap-4">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6" fill="rgb(95, 95, 95)">
							<path d="M293.006,92.625c24.891,0,45.076-20.176,45.076-45.068S317.896,2.49,293.006,2.49c-24.883,0-45.06,20.176-45.06,45.068S268.123,92.625,293.006,92.625z"/>
							<path d="M153.846,167.987l60.642,36.187c7.539,4.506,16.734,5.316,24.952,2.214l35.916-19.348l17.03,68.695l-56.607-0.287c-9.534-0.027-18.59,4.201-24.673,11.548c-6.083,7.347-8.55,17.03-6.737,26.399l19.044,98.04c2.109,10.86,12.402,18.128,23.34,16.489l0.819-0.122c10.834-1.621,18.512-11.408,17.509-22.312l-6.449-70.247l84.74,3.156l31.576,50.244c6.51,6.581,13.962,12.176,22.102,16.612l69.567,37.999c9.744,5.037,21.745,1.429,27.096-8.149l0.384-0.671c5.333-9.561,2.144-21.623-7.208-27.306l-64.46-44.144l-39.908-85.141l-17.57-99.147l41.904-5.316l49.199,31.82c6.615,4.271,15.33,3.068,20.516-2.842l0.288-0.331c5.77-6.546,5.151-16.516-1.377-22.312l-44.022-39.142c-4.75-4.218-10.816-6.658-17.169-6.893l-94.597-6.127c-3.382-0.183-6.545,0.07-6.545,0.07c-1.412,0.121-2.842,0.296-4.262,0.531c-8,1.377-15.182,4.689-21.16,9.361l-65.532,44.196l-50.881-23.88c-7.904-4.428-17.875-1.804-22.573,5.936l-0.645,1.046c-2.318,3.843-3.033,8.436-1.952,12.785C147.213,161.948,149.993,165.686,153.846,167.987z"/>
							<path d="M511.615,472.601c-0.131-7.591-5.866-13.919-13.405-14.799l-444.784-52.17l-3.338-0.488l3.338-19.862L79.938,227.41l51.09,7.59l5.526-35.35l-56.468-8.497c-16.376-2.467-31.706,8.654-34.452,24.987L18.086,380.104L0.279,485.918c-0.984,5.865,0.663,11.878,4.506,16.419c3.853,4.55,9.5,7.173,15.453,7.173h12.306h464.272c4.079,0,7.974-1.638,10.833-4.541c2.85-2.902,4.419-6.833,4.349-10.911L511.615,472.601z"/>
						</svg>
						<div>
							<h3 class="text-lg sm:text-xl font-semibold">Gym Kusa</h3>
							<p class="text-sm text-neutral-600 mt-1">
							走ると生える草
							</p>
						</div>
						</div>
					</a>
					</div>
				</div>
			</div>

			<div class="my-20">
				<div class="w-full sm:w-4/5 px-4 sm:px-0 mx-auto">
					<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6 sm:gap-8">
						<a href="https://love.tsukuba-ac.net/"><Image 
                            src={tsukubaLove} 
                            alt="Tsukuba Love"
                            width={400}
                            height={400}
                            class="w-full h-auto object-contain"
                            loading="lazy"
                            format="webp"
                        /></a>
						<a href="https://sites.google.com/view/happy-busy/"><Image 
                            src={noTime} 
                            alt="No Time"
                            width={400}
                            height={400}
                            class="w-full h-auto object-contain"
                            loading="lazy"
                            format="webp"
                        /></a>
					</div>
				</div>
			</div>
			
			<Footer />
		</div>
	</body>
</html>