---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Btn from "../components/Btn.astro";
import BlogThumbnail from '../components/BlogThumbnail.astro';
import Activity from '../components/Activity.astro';

import { fetchAndProcessRSS } from "../libs/fetchAndProcessRSS";

// RSSからブログの一覧取得
const rssURLs = [
  "https://note.com/tsusu0409/rss",
  "local"
];

const posts = await fetchAndProcessRSS(rssURLs);

// アクティビティの一覧取得
const allActivities = await Astro.glob('./activity/*.md')
---

<html lang="jp">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/prof-icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tsusu</title>

		<!-- OGPタグ -->
		<meta property="og:title" content="Tsusu" />
		<meta property="og:description" content="Tsusuの個人サイト" />
		<meta property="og:image" content="https://tsusu0409.com/images/ogp.png" />
		<meta property="og:url" content="https://tsusu0409.com/" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Tsusu" />

		<!-- Twitterカード -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Tsusu" />
		<meta name="twitter:description" content="Tsusuの個人サイト" />
		<meta name="twitter:image" content="https://tsusu0409.com/images/ogp.png" />
		<meta name="twitter:url" content="https://tsusu0409.com/" />

	</head>
	<body>
		<div>
			<Header />

			<div class="py-20 bg-primary">
                <div class="w-full sm:w-4/5 px-4 sm:px-0 mx-auto relative flex flex-col sm:flex-row items-center sm:items-start gap-10 sm:gap-20">
                    <img src="/images/prof-icon.png" class="h-30 w-30 sm:h-40 sm:w-40 rounded-2xl sm:rounded-4xl" />
                    <div class="pt-4 text-center sm:text-left">
                    <p class="text-xl sm:text-2xl font-geo font-thin">Tsusu / Tsubasa KAWAGISHI</p>
                    <p class="mt-6 text-sm sm:text-lg font-zen">
                        筑波大学に通う学生です。<br />
                        趣味でWebを触り始めています。AtCoder Beginner ContestやOnlineMathContestに時々参加しています。
                    </p>
                    </div>
                </div>
            </div>


			<div class="mt-6 mb-12">
				<div class="w-full sm:w-4/5 px-4 sm:px-0 mx-auto">
					<h2 class="text-xl sm:text-2xl font-geo font-thin">Recent Posts</h2>
					<div class="grid grid-cols-1 md:grid-cols-3 gap-2 px-4">
						{posts.slice(0, 3).map((post:any) => (
							<BlogThumbnail 
								title={post.title}
								description={post.description}
								link={post.link}
								pubDate={post.pubDate}
								webSite={post.source}
								thumbLink={post.thumb}
							/>
						))}
					</div>
				</div>
				<Btn name="Blogs" slug="blog"/>
			</div>

			<div class="my-20 pb-8">
				<div class="w-full sm:w-4/5 px-4 sm:px-0 mx-auto">
					<h2 class="text-xl sm:text-2xl font-geo font-thin">Recent Activities</h2>
					<div class="mx-2 sm:mx-6">
						{[...allActivities].reverse().slice(0, 3).map((activity:any) => (
							<Activity
							title={activity.frontmatter.title}
							description={activity.frontmatter.description}
							startDate={activity.frontmatter.startDate}
							endDate={activity.frontmatter.endDate}
							/>
						))}
					</div>
				</div>
				<Btn name="Activiies" slug="activity"/>
			</div>
			
			<Footer />
		</div>
	</body>
</html>
