---
const { title, description, link, pubDate, webSite, thumbLink} = Astro.props;

let bgColorClass;
switch (webSite) {
  case 'tsusu0409.com':
    bgColorClass = 'bg-primary';
    break;
  case 'おもしろ界隈':
    bgColorClass = 'bg-fuchsia-600';
    break;
  case 'Qiita':
    bgColorClass = 'bg-green-500';
    break;
  case 'Zenn':
    bgColorClass = 'bg-sky-400';
    break;
  case 'note':
    bgColorClass = 'bg-stone-600';
    break;
  default:
    bgColorClass = 'bg-gray-400';
}

let displayDescription;
switch(webSite){
  case 'tsusu0409.com':
    displayDescription = description;
    break;
  case 'おもしろ界隈':
    displayDescription = description;
    break;
  default:
    displayDescription = '';
}

let displayThumnail;
if(!thumbLink) {
  displayThumnail = '/images/noimage.jpg';
} else {
  displayThumnail = thumbLink;
}
---

<article class="p-4 max-w-108 font-zen hover:bg-gray-100">
    <a href={link} class="block">
        <img
          src={displayThumnail}
          alt={title}
          class="aspect-16/9 object-cover w-full"
        />
        
        <div class="flex justify-between items-center text-sm mb-2">
            <span class={`${bgColorClass} text-white px-2 py-1`}>{webSite}</span>
            <span class="text-gray-500">{pubDate}</span>
        </div>

        <h2 class="text-base mb-1">{title}</h2>
        <p class="text-sm text-gray-700 leading-snug">{displayDescription}</p>
    </a>
</article>
